<section class="cards">
  <div>
    <div class="cards">
      <div class="details">
        <span class="card_title">
          <h4>Details</h4>
          <hr />

          <div class="form-group">
            <label for="project">Project</label>
            {{input class="form-control project" id="project" name="project" value=model.project}}
          </div>
        </span>
      </div>
    </div>
  </div>
</section>
